<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class= 'nombre'>
        <img src = '/images/logo-mercado-liebre.svg'>
       
        <p>Lugar poner barra de busqueda<div></div><i class="fas fa-search"></i></div></p>

        <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        <section>
            <ul class="nav-link-list">
                <li><a href= #>Ofertas</a></li>
                <li><a href= #>Tiendas Oficiales</a></li>
                <li><a href= #>Vender</a></li>
                <li><a href= #>Ayuda</a></li>
            </ul>
            <ul class="nav-link-list">
                <li><a>Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a>Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a>Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </section>
        <p class="center"><div class="burger-menu"><i class="fas fa-bars burger"></i></div></p>
    </header>
    <Main>
        <h3 class= 'titulares'>Basado en tu ultima visita</h3>
            <article>
                <img src = '/images/img-cafetera-moulinex.jpg'>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descuentos">Cafetera Moulinex</p>
            </article>
            <article>
                <img src = '/images/img-macbook-pro-2019.jpg'>
                <p  class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descuentos">MacBook Pro 2019</p>
            </article>
            <article>   
                <img src='/images/img-samsung-galaxy-s10.jpg'>
                <p  class="precios">$70.500</p>
                <p class="descuentos">10% off</p>>
                <p class="descuentos">Samsung Galaxy S10</p>
            </article>
            <article>
                <img src = '/images/img-tv-samsung-smart.jpg'>
                <p  class="precios">$23.200</p>>
                <p class="descuentos">5% off</p>
                <p class="descuentos">SmartTv Samsung 43"</p>
            </article>
        <h3 class= 'titulares'>Seccion Ofertas</h3>
            <article>
                <img src = '/images/img-cafetera-moulinex.jpg'>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descuentos">Cafetera Moulinex</p>
            </article>
            <article>
                <img src = '/images/img-macbook-pro-2019.jpg'>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descuentos">MacBook Pro 2019</p>
            </article>
            <article>   
                <img src='/images/img-samsung-galaxy-s10.jpg'>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>>
                <p class="descuentos">Samsung Galaxy S10</p>
            </article>
            <article>
                <img src = '/images/img-tv-samsung-smart.jpg'>
                <p class="precios">$23.200</p>>
                <p class="descuentos">5% off</p>
                <p class="descuentos">SmartTv Samsung 43"</p>
            </article>
    </Main>
    <Footer>
        <h3>Pagá con tarjeta o en efectivo</h3>
            <p class= 'cuerpoDeTexto'>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro!</p>
        
        <h3>Envío gratis desde $ 2.500</h3>
            <p class= 'cuerpoDeTexto'>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        
        <h3>Seguridad, de principio a fin</h3>
            <p class= 'cuerpoDeTexto'>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </Footer>
</body>
</html>